.pageWrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh
}
#logo {
  color: #fff;
  text-align: center
}
.wrap {
  max-width: 980px;
  margin: 0 auto;
}
.headerDivider{
  height: 44px;
  float: left;
  margin-top: 10px;
}
#nav{
  float: left;
  background: none;
  border: none;
  line-height: 64px;
}
#nav  a {
  color: #fff
}
.xsName{
  position: absolute;
  right: 0px;
  top: 0px;
  width: auto;
}
.main{
  flex: 1
}
.main .wrap{
  border: 1px solid #ccc;
  border-top: none
}
#indexMenu {
  text-align: center;
  border-right:none;
}
.indexMenu .ant-menu-item-selected{
  background: #e6f7ff;
  border-right: 3px solid #18900f;
}
.indexList {
  overflow: auto;
  border-left: 1px solid #ccc
}
@media all and (max-width: 767px) {
  #indexMenu {
    display: flex;
    border-bottom: 1px solid #ccc
  }
  #indexMenu li {
    margin: 0 0 -1px 0;
    border: none;
  }
}